<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<th:block layout:fragment="script">
    <script th:inline="javascript">
        $(document).ready(function() {

            let errorMessage= /*[[${errorMessage}]]*/ "";
            if (errorMessage != null) {
                alert(errorMessage);
            }

            function resetForm() {
            document.querySelector('form').reset();
            }
        });
    </script>
</th:block>

<div layout:fragment="content">
    <div class="container1">
        <h2> 동 행 신 청 </h2>

        <!--        <form action="/gather/newGather" role="form" method="post" th:object="${gatherForm}">-->
        <form th:action="@{${gatherId != null} ? '/gather/updateGather/' + ${gatherId} : '/gather/newGather'}" role="form" method="post" th:object="${gatherForm}" >

            <legend><label th:for="gtTitle"><span>제목</span></label></legend>
            <input type="text" th:field="*{gtTitle}" class="addGather" id="gatherTitle">
            <p th:if="${#fields.hasErrors('gtTitle')}" th:errors="*{gtTitle}" class="fieldError">Incorrect data</p>

            <legend><label th:for="userId"><span>작성자</span></label></legend>
            <input type="text" th:value="${userId}" class="addGather" id="userId" readonly>
            <input type="hidden" th:value="${userId}" class="addGather" id="userId1" readonly>
            <p th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}" class="fieldError">Incorrect data</p>

            <!-- 선호 성별은 선택가능한 버튼으로 만들기 남, 여 -->
            <legend><label th:for="preferGender"><span>선호 성별</span></label></legend>
            <div>
                <!--                    <input th:field="*{preferGender}" id="preferGender">-->
                <label class="checkbox_label">
                    <input type="checkbox" name="preferGender" value="man">
                    <span class="checkbox_icon"></span>
                    <span class="checkbox_name">남자</span>
                </label>

                <label class="checkbox_label">
                    <input type="checkbox" name="preferGender" value="woman">
                    <span class="checkbox_icon"></span>
                    <span class="checkbox_name">여자</span>
                </label>

                <label class="checkbox_label">
                    <input type="checkbox" name="preferGender" value="unisex">
                    <span class="checkbox_icon"></span>
                    <span class="checkbox_name">상관없음</span>
                </label>
            </div>
            <p th:if="${#fields.hasErrors('preferGender')}" th:errors="*{preferGender}" class="fieldError">Incorrect data</p>



            <!-- 선호 연령 또한 선택가능한 버튼으로 만들기
            10대, 20대, 30대, 40대, 50대, 60대, 모두선택, 초기화 -->
            <legend><label th:for="preferAge"><span> 선호 연령</span></label></legend>
            <!--            <input type="text" th:field="*{preferAge}" class="addGather" id="preferAge">-->
            <div>
                <label class="checkbox_label">
                    <input type="checkbox" name="preferAge" value="10대">
                    <span class="checkbox_icon"></span>
                    <span class="checkbox_name">10대</span>
                </label>
                <label class="checkbox_label">
                    <input type="checkbox" name="preferAge" value="20대">
                    <span class="checkbox_icon"></span>
                    <span class="checkbox_name">20대</span>
                </label>
            </div>
            <div>
                <label class="checkbox_label">
                    <input type="checkbox" name="preferAge" value="30대">
                    <span class="checkbox_icon"></span>
                    <span class="checkbox_name">30대</span>
                </label>
                <label class="checkbox_label">
                    <input type="checkbox" name="preferAge" value="40대">
                    <span class="checkbox_icon"></span>
                    <span class="checkbox_name">40대</span>
                </label>
            </div>
            <div>
                <label class="checkbox_label">
                    <input type="checkbox" name="preferAge" value="50대">
                    <span class="checkbox_icon"></span>
                    <span class="checkbox_name">50대</span>
                </label>
                <label class="checkbox_label">
                    <input type="checkbox" name="preferAge" value="60대 이상">
                    <span class="checkbox_icon"></span>
                    <span class="checkbox_name">60대 이상</span>
                </label>
            </div>
            <p th:if="${#fields.hasErrors('preferAge')}" th:errors="*{preferAge}" class="fieldError">Incorrect data</p>


            <legend><label th:for="gtText"><span>내용</span></label></legend>
            <input type="text" th:field="*{gtText}" class="addGather" id="gtText">
            <p th:if="${#fields.hasErrors('gtText')}" th:errors="*{gtText}" class="fieldError">Incorrect data</p>

            <legend><label th:for="ppNum"><span>인원 수</span></label></legend>
            <input type="text" th:field="*{ppNum}" class="addGather" id="ppNum">
            <p th:if="${#fields.hasErrors('ppNum')}" th:errors="*{ppNum}" class="fieldError">Incorrect data</p>

            <legend><label th:for="gtMtDate"><span>예정일</span></label></legend>
            <!--            <p th:text="${#dates.format(gatherForm.gtMtDate, 'yyyy-MM-dd')}"></p>-->
            <p> <input type="date" th:field="*{gtMtDate}" id="gtMtDate" class="addGather"></p>
            <p th:if="${#fields.hasErrors('gtMtDate')}" th:errors="*{gtMtDate}" class="fieldError">Incorrect data</p>

            <div class="form-group">
                <!-- gatherId가 있으면 수정 버튼, 없으면 추가 버튼 표시 -->
                <div th:if="${gatherId != null}">
                    <input type="submit" value="수정">
                </div>
                <div th:if="${gatherId == null}">
                    <input type="submit" value="추가">
                </div>
            </div>
        </form>
    </div>
</div>
</html>