<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<div layout:fragment="content">
    <div class="wrap">
        <div class="detail">
            <div class="detailImg">
                <img src="" alt="">이미지
            </div>

            <div class="detailMain">
                <div class="detailHead">
                    <div class="detailTitle">
                        <p>제목</p>
                    </div>
                    <div class="detailRgDate">
                        <p>등록일</p>
                    </div>
                    <div class="detailHits">
                        <p>조회수</p>
                    </div>
                    <div class="detailRgName">
                        <p>등록자</p>
                    </div>
                </div>

                <div class="detailBody">
                    <p>내용</p>
                </div>

                <div class="detailFooter">
                    <div class="detailDate">
                        <p>축제일자</p>
                    </div>
                    <div class="detailMember">
                        <p>동행인원수</p>
                    </div>
                    <div class="detailGender">
                        <p>선호연령</p>
                    </div>
                    <div class="detailAge">
                        <p>선호나이대</p>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
</html>