<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<div layout:fragment="content">
    <div class="warp">
        <div class="container">

            <div class="main1">
                <div class="l_move"><a href=""><img src="../img/a_left.png" alt="l_moveBtn"></a></div>
                <div class="r_move"><a href=""><img src="../img/a_right.png" alt="r_moveBtn"></a></div>
                <div class="mainImg">
                    <a href=""><p>img1</p></a>
                    <a href=""><p>img2</p></a>
                    <a href=""><p>img3</p></a>
                </div> <!-- mainImg -->
            </div> <!-- main1 -->

            <div class="main2">
                <h2>새 소식 | <span>지금 울산의 소식을 알아보세요</span></h2>
                <div class="ulsanNews">
                    <ul>
                        <li class="news"><a href="">ulsanNews1</a></li>
                        <li class="news"><a href="">ulsanNews1</a></li>
                        <li class="news"><a href="">ulsanNews1</a></li>
                        <li class="news"><a href="">ulsanNews1</a></li>
                        <li class="news"><a href="">ulsanNews1</a></li>
                    </ul>
                </div><!-- ulsanNews -->

                <ul class="menuHiper">
                    <li>
                        <a href="">
                            <p class="menuImg"><img src="" alt=""></p>
                            <p class="menuName">menu1</p>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <p class="menuImg"><img src="" alt=""></p>
                            <p class="menuName">menu2</p>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <p class="menuImg"><img src="" alt=""></p>
                            <p class="menuName">menu3</p>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <p class="menuImg"><img src="" alt=""></p>
                            <p class="menuName">menu4</p>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <p class="menuImg"><img src="" alt=""></p>
                            <p class="menuName">menu5</p>
                        </a>
                    </li>
                </ul><!-- menuHiper --> 
            </div> <!-- main2 -->

            <div class="mainBn">
                <div class="mainBnT">
                    <h2>울산축제찾기</h2>
                    <a href=""><span>더보기 ></span></a>
                </div>
                <div class="mainBnWarp">
                    <div class="mainBn1">
                        <ul>
                            <li>
                                <a href="">
                                    <div class="mainBn1T">
                                        <p clsss="mBn1title">title1</p>
                                        <p class="mBn1Date"> 개최일 | 0000-00-00~0000-00-00</p>
                                    </div>
                                    <p class="mBn1Txt">Txt</p>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <div class="mainBn1T">
                                        <p clsss="mBn1title">title1</p>
                                        <p class="mBn1Date"> 개최일 | 0000-00-00~0000-00-00</p>
                                    </div>
                                    <p class="mBn1Txt">Txt</p>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <div class="mainBn1T">
                                        <p clsss="mBn1title">title1</p>
                                        <p class="mBn1Date"> 개최일 | 0000-00-00~0000-00-00</p>
                                    </div>
                                    <p class="mBn1Txt">Txt</p>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <div class="mainBn1T">
                                        <p clsss="mBn1title">title1</p>
                                        <p class="mBn1Date"> 개최일 | 0000-00-00~0000-00-00</p>
                                    </div>
                                    <p class="mBn1Txt">Txt</p>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <div class="mainBn1T">
                                        <p clsss="mBn1title">title1</p>
                                        <p class="mBn1Date"> 개최일 | 0000-00-00~0000-00-00</p>
                                    </div>
                                    <p class="mBn1Txt">Txt</p>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <div class="mainBn1T">
                                        <p clsss="mBn1title">title1</p>
                                        <p class="mBn1Date"> 개최일 | 0000-00-00~0000-00-00</p>
                                    </div>
                                    <p class="mBn1Txt">Txt</p>
                                </a>
                            </li>
                        </ul>
                    </div><!-- mainBn1 -->
                    
                    <div class="mainBn2">
                        <ul>
                            <li>
                                <a href="">
                                    <p clsss="mBn2img"><img src="" alt=""></p>
                                    <p class="mBn2Txt"></p>
                                </a> 
                                <a href="">
                                    <p clsss="mBn2img"><img src="" alt=""></p>
                                    <p class="mBn2Txt"></p>
                                </a>
                                <a href="">
                                    <p clsss="mBn2img"><img src="" alt=""></p>
                                    <p class="mBn2Txt"></p>
                                </a>
                             </li>
                        </ul>
                    </div><!-- mainBn2 -->
                </div>
            </div><!-- mainBn -->
        </div>
    </div>
</div>
</html>