<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teamproject.festival.festival.mapper.FestivalMapper">
    <!-- 메인페이지 축제 리스트 출력 -->
    <select id="festivalMainList" parameterType="map" resultType="festivalMainDto">
        SELECT ft_name, ft_stdate, ft_eddate, ft_text
        FROM festival
        WHERE ft_USEYN = 'Y'
        ORDER BY ft_eddate desc
        LIMIT 6
    </select>

    <!-- 페스티벌 리스트 -->
    <select id="festivalList" parameterType="map" resultType="festivalListDto">
        SELECT ft_id, ft_name, ft_stdate, ft_eddate, ft_host, ft_phone
        FROM festival
        WHERE ft_USEYN = 'Y'
    </select>

    <!-- 페스티벌 디테일 -->
    <select id="festivalDetail" resultType="festivalDetailDto">
        SELECT ft_id, ft_name, ft_stdate, ft_eddate, ft_text, ft_host, ft_phone, ft_address, ft_img, ft_latitude, ft_longtitude
        FROM festival
        WHERE ft_id=#{ftId}
    </select>

    <!-- 페스티벌 리뷰 -->
    <insert id="festivalReview" parameterType="festivalReviewDto">
        INSERT INTO festivalreview(ft_id, user_id, fr_text, fr_rgdate, fr_rate)
        VALUES (#{ftId}, #{userId}, #{frText}, #{frRgdate}, #{frRate})
    </insert>
</mapper>