<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/index.css">
</head>
<body>
    <div class="header">
        <div class="headerIn">
            <h1 class="logo">
                <a href="">울산축제알아보기<img src="" alt=""></a>
            </h1> <!-- logo -->
            <div class="topMenu">
                <ul>
                    <li><a href="">홈</a></li>
                    <li><a href="">축제 소식</a></li>
                    <li><a href="">울산축제찾기</a></li>
                    <li><a href="">축제달력</a></li>
                    <li><a href="">같이가요축제</a></li>
                </ul>
            </div> <!-- topMenu -->
            <div class="member">
                <ul>
                    <li><a href="">로그인</a></li>
                    <li><a href="">회원가입</a></li>
                    <li><a href=""><p>검색</p></a></li>
                </ul>
            </div><!-- member -->
        </div><!-- headerIn -->
    </div> <!-- header -->
    
    
    
    
    
    
    
    
    
    
    
    
    
    <!-- 로고, 로그인/로그아웃, 메뉴, 마이페이지(로그인 한 뒤 페이지에 나타내기)  -->
     <!-- 마이페이지 부분은 로그인 후 나타내기 -->
    <!-- <div class="wrap">
        <div calss="header">
            <div class="headerIn">
                <h1 class="logo">
                    <a href="./header.html">로고</a>
                </h1>
                <div class="menu">
                    <ul>
                        <li><a href="">축제</a></li>
                        <li><a href="">축제별 리뷰</a></li>
                        <li><a href="">즐길거리</a></li>
                        <li><a href="">공지사항</a></li>
                    </ul>
                </div> <!--.menu
                <div class="user">
                    <ul>
                        <li><a href="../login/login.html">로그인</a></li>
                        <!--로그인을 누르면 로그인 화면으로 넘어가기 a <- 안에 링크 연결
                        <li><a href="./join.html">회원가입</a></li>
                        <!--회원가입을 누르면 회원가입 화면으로 넘어가기 a <- 안에 링크 연결
                        <!--회원가입 내 들어갈 내용 아이디, 비밀번호, 이름, 성별, 이메일
                    </ul>
                </div> <!--.user
            </div> <!--.headerIn
        </div> <!--.header
    </div> --> 

</body>
</html>