<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>울산축제알아보기</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <div class="warp">
        <div class="header">
            <div class="headerIn">
                <h1 class="logo">
                    <a href="">울산축제알아보기<img src="" alt=""></a>
                </h1> <!-- logo -->
                <div class="topMenu">
                    <ul>
                        <li><a href="">홈</a></li>
                        <li><a href="">축제 소식</a></li>
                        <li><a href="">울산축제찾기</a></li>
                        <li><a href="">축제달력</a></li>
                        <li><a href="">같이가요축제</a></li>
                    </ul>
                </div> <!-- topMenu -->
                <div class="member">
                    <ul>
                        <li><a href="">로그인</a></li>
                        <li><a href="">회원가입</a></li>
                        <li><a href=""><p>검색</p></a></li>
                    </ul>
                </div><!-- member -->
            </div><!-- headerIn -->
        </div> <!-- header -->
        

        <div class="container">

            <div class="main1">
                <div class="l_move"><a href=""><img src="../img/a_left.png" alt="l_moveBtn"></a></div>
                <div class="r_move"><a href=""><img src="../img/a_right.png" alt="r_moveBtn"></a></div>
                <div class="mainImg">
                    <a href=""><p>img1</p></a>
                    <a href=""><p>img2</p></a>
                    <a href=""><p>img3</p></a>
                </div> <!-- mainImg -->
            </div> <!-- main1 -->

            <div class="main2">
                <h2>새 소식 | <span>지금 울산의 소식을 알아보세요</span></h2>
                <div class="ulsanNews">
                    <ul>
                        <li class="news"><a href="">ulsanNews1</a></li>
                        <li class="news"><a href="">ulsanNews1</a></li>
                        <li class="news"><a href="">ulsanNews1</a></li>
                        <li class="news"><a href="">ulsanNews1</a></li>
                        <li class="news"><a href="">ulsanNews1</a></li>
                    </ul>
                </div><!-- ulsanNews -->

                <ul class="menuHiper">
                    <li>
                        <a href="">
                            <p class="menuImg"><img src="" alt=""></p>
                            <p class="menuName">menu1</p>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <p class="menuImg"><img src="" alt=""></p>
                            <p class="menuName">menu2</p>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <p class="menuImg"><img src="" alt=""></p>
                            <p class="menuName">menu3</p>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <p class="menuImg"><img src="" alt=""></p>
                            <p class="menuName">menu4</p>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <p class="menuImg"><img src="" alt=""></p>
                            <p class="menuName">menu5</p>
                        </a>
                    </li>
                </ul><!-- menuHiper --> 
            </div> <!-- main2 -->

            <div class="mainBn">
                <div class="mainBnT">
                    <h2>울산축제찾기</h2>
                    <a href=""><span>더보기 ></span></a>
                </div>
                <div class="mainBnWarp">
                    <div class="mainBn1">
                        <ul>
                            <li>
                                <a href="">
                                    <div class="mainBn1T">
                                        <p clsss="mBn1title">title1</p>
                                        <p class="mBn1Date"> 개최일 | 0000-00-00~0000-00-00</p>
                                    </div>
                                    <p class="mBn1Txt">Txt</p>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <div class="mainBn1T">
                                        <p clsss="mBn1title">title1</p>
                                        <p class="mBn1Date"> 개최일 | 0000-00-00~0000-00-00</p>
                                    </div>
                                    <p class="mBn1Txt">Txt</p>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <div class="mainBn1T">
                                        <p clsss="mBn1title">title1</p>
                                        <p class="mBn1Date"> 개최일 | 0000-00-00~0000-00-00</p>
                                    </div>
                                    <p class="mBn1Txt">Txt</p>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <div class="mainBn1T">
                                        <p clsss="mBn1title">title1</p>
                                        <p class="mBn1Date"> 개최일 | 0000-00-00~0000-00-00</p>
                                    </div>
                                    <p class="mBn1Txt">Txt</p>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <div class="mainBn1T">
                                        <p clsss="mBn1title">title1</p>
                                        <p class="mBn1Date"> 개최일 | 0000-00-00~0000-00-00</p>
                                    </div>
                                    <p class="mBn1Txt">Txt</p>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <div class="mainBn1T">
                                        <p clsss="mBn1title">title1</p>
                                        <p class="mBn1Date"> 개최일 | 0000-00-00~0000-00-00</p>
                                    </div>
                                    <p class="mBn1Txt">Txt</p>
                                </a>
                            </li>
                        </ul>
                    </div><!-- mainBn1 -->
                    
                    <div class="mainBn2">
                        <ul>
                            <li>
                                <a href="">
                                    <p clsss="mBn2img"><img src="" alt=""></p>
                                    <p class="mBn2Txt"></p>
                                </a> 
                                <a href="">
                                    <p clsss="mBn2img"><img src="" alt=""></p>
                                    <p class="mBn2Txt"></p>
                                </a>
                                <a href="">
                                    <p clsss="mBn2img"><img src="" alt=""></p>
                                    <p class="mBn2Txt"></p>
                                </a>
                             </li>
                        </ul>
                    </div><!-- mainBn2 -->
                </div>
            </div><!-- mainBn -->
        </div>

        <div class="footer">
            <div class="footer1">
                <ul class="footer1-1">
                    <li><a href="">Text1</a></li>
                    <li><a href="">Text2</a></li>
                    <li><a href="">Text3</a></li>
                    <li><a href="">Text4</a></li>
                    <li><a href="">Text5</a></li>
                </ul>
                <div class="footer1-2">
                    Lorem Ipsum is simply dummy text of the printing and<br>
                    typesetting industry. Lorem Ipsum has been the industry's standard dummy <br>
                    text ever since the 1500s, when an unknown printer took a<br> 
                    galley of type and scrambled it to make a <br>
                    type specimen book.<br> 
                    It has survived not only five centuries, but also the leap <br>
                    into electronic typesetting, remaining 
                </div>
            </div>
        </div>
    </div>
</body>
</html>