<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/festival.css">
</head>
<body>
    <div class="wrap">
        <div class="Detail_warp">
            <section class="festivalDetail">
                <h1>축제 제목</h1>
                <p>개최중</p>
                <div class="festivalDetail_main">
                    <div class="festivalDetail_img">
                        <img src="" alt=""> <!-- 이미지 삽입 -->
                    </div>
    
                    <div class="festivalDetail_text">
                        <p>
                            it is a long established fact that a reader<br>
                            willbe distracted by the readable conte<br>
                            nt of a page when looking at its layout.
                        </p>
                        <p><b>기간</b>&nbsp;&nbsp;&nbsp;&nbsp;2030-05-04 ~ 2030-05-08</p>
                        <p><b>장소</b>&nbsp;&nbsp;&nbsp;&nbsp;울산광역시 남구 어디로 123(어딘가)</p>
                        <p><b>입장료</b>&nbsp;&nbsp;성인 5000원 / 아동 2000원</p>
                        <p><b>주취</b>&nbsp;&nbsp;&nbsp;&nbsp;울산광역시/(주)글로벌</p>
                        <p><b>번호</b>&nbsp;&nbsp;&nbsp;&nbsp;052)1234-5678</p>
    
                        <a href=""> <!-- 이동위치 지정 -->
                            <p class="home">공식 홈페이지</p>
                        </a>
                    </div>
                </div>
            </section>
            <!-- festivalDetail_end -->
    
            <section class="food">
                <h2>주변 맛집 정보</h2>
                <ul>
                    <li class="sec_text left">
                        <img src="" alt="여기 맛있다"> <!-- 이미지 삽입 -->
                        <dl>
                            <dt>울산 남구 어디로</dt>
                            <dd>통닭과 똥집이 맛있는 집</dd>
                        </dl>
                        <div class="Read_more">
                            <a href=""> <!-- 이동위치 지정 -->
                                자세히 보기 &gt;
                            </a>
                        </div>
                    </li>
                    <li class="sec_text center">
                        <img src="" alt="너두?"> <!-- 이미지 삽입 -->
                        <dl>
                            <dt>울산 남구 어디로</dt>
                            <dd>통닭과 똥집이 맛있는 집</dd>
                        </dl>
                        <div class="Read_more">
                            <a href=""> <!-- 이동위치 지정 -->
                                자세히 보기 &gt;
                            </a>
                        </div>
                    </li>
                    <li class="sec_text right">
                        <img src="" alt="나두"> <!-- 이미지 삽입 -->
                        <dl>
                            <dt>울산 남구 어디로</dt>
                            <dd>통닭과 똥집이 맛있는 집</dd>
                        </dl>
                        <div class="Read_more">
                            <a href=""> <!-- 이동위치 지정 -->
                                자세히 보기 &gt;
                            </a>
                        </div>
                    </li>
                </ul>
            </section>
            <!-- food_end -->
    
            <section class="way">
                <h2>길찾기</h2>
                <div class="map">
                    <img src="" alt="지도삽입"> <!-- 지도이미지 삽입 -->
                </div>
            </section>
            <!-- way_end -->
        </div><!--Detail_warp-->
        

        <section class="review">
            <div class="review_main">
                <h2>리뷰작성하기</h2>
                <p>
                    <a href="">등록하기</a> <!-- 이동위치 지정 -->
                </p>
            </div>
            <textarea placeholder="작성해주세요" cols="120" rows="10"></textarea>
        </section>
        <!-- review_end -->
    </div>
</body>
</html>