<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/festival.css">
</head>
<body>
    <!--MainHeader 들어올 공간-->
    <div class="wrap">
        <div class="info">
            <div class="infoIn">
                <div class="search">
                    <h2>축제 검색</h2>
                </div>
                <div class="icon">
                    <ul>
                        <li><a href="">날짜</a></li>
                        <li><a href="">지역</a></li>
                        <li><a href="">테마</a></li>
                        <li><a href="">검색</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="FestivalMain">
            <div class="mainSlide">
                <!-- 슬라이드 될 이미지 3개 정도 -->
                <div class="msImg">
                    <a href="">이미지</a>
                </div>
                <!-- 좌우 버튼 -->
                <p class="msBtnL"><a href=""><img src="./a_left.png" alt=""></a></p>
                <p class="msBtnR"><a href=""><img src="./a_right.png" alt=""></a></p>
            </div>
        </div>

        <div class="FestivalList">
            <div class="FestivalListIn">
                <!-- 백그라운드로 이미지 깔기 (페이지당 축제 관련 이미지 5개)
                해당 이미지 내 상세보기 클릭 시 해당 축제 상세정보로 이동 -->
                <ul class="fl">
                    <li><a href="">FT_NAME 1</a></li>
                    <li><a href="">FT_NAME 2</a></li>
                    <li><a href="">FT_NAME 3</a></li>
                    <li><a href="">FT_NAME 4</a></li>
                    <li><a href="">FT_NAME 5</a></li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>