@charset "utf-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 13px;
    line-height: 20px;
    color: black;
}

ul, ol {
    list-style: none;
}

img {
    vertical-align: top;
    border: 0;
}

a {
    text-decoration: none;
    color: black;
}

/* 브라우저 리셋 */

.warp {
    width: 100%;
    min-width: 1200px;
}

.header {
    height: 80px;
}

.headerIn {
    width: 1200px;
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerIn .logo {
    width: 0%;
    top: 100%;
    left: 100%;
}

.headerIn .menu ul {
    display: flex;
}

.headerIn .menu li a:hover {
    color: purple;
}

.headerIn .menu li {
    margin-right: 80px;
    font-size: 18px;
}

.headerIn .user ul {
    display: flex;
}

.header .user li a:hover {
    color: purple;
}

.headerIn .user li {
    margin-right: 30px;
    font-size: 15px;
}